{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}

<div class="container">
  <h2>Liste des livres</h2>
  <table>
    <tr>
      <th colspan="1">Titre</th>
      <th colspan="1">Auteur</th>
      <th colspan="1">Date d'édition</th>
      <th colspan="1">Dernière modification</th>
      <th colspan="2">Actions</th>
    </tr>
    {% for book in books %}
    <tr>
      <td colspan="1">
        <a href="{{ path('app_book_show', { id: book.id })}}">{{ book.title }}</a>
      </td>
      <td colspan="1">
        <a href="#">{{ book.author }}</a>
      </td>
      <td colspan="1">
        <a href="#">{{book.dateEdition | date('d/m/Y')}}</a>
      </td>
      <td colspan="1">{{ book.updateAt | date('d/m/Y')}}</td>
      <td colspan="1">
        <a href="{{ path('app_book_delete', { id: book.id })}}" class="delete">
          Delete
        </a>
      </td>
      <td colspan="1">
        <a href="{{ path('app_books_edit', { id: book.id })}}" class="edit">Edit</a>
      </td>
    </tr>

    {%endfor%}
  </table>
</div>
{% endblock %}
